<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cadastro</title>
</head>

<body>
  <div class="login-container">
    <h2>Faça o seu Cadastro</h2>
    <form action="/usuarios/cadastrar" method="POST">
      <input class="login-input" type="text" placeholder="Nome de usuário" name="usuario" required>
      <input class="login-input" type="password" placeholder="Senha" name="senha" required>
      <input class="login-input" type="password" placeholder="Confirme a senha" name="confirmesenha" required>
      <input class="login-input" type="submit" name="Enviar" value="Enviar" />
    </form>
  </div>
  <script>

  </script>
</body>

</html>